.about{
text-align: center;
    opacity: 0.8;
    font-size: 30px;
    font-weight: 15;
    padding: 13px 16px;
      background: rgb(200,196,192)
}
.secondCont{
    display: flex;
    flex-direction: row;
    gap: 140px;


}
.imageCont{
    width: 90%;
    transform: translateX(0%) translateZ(0px);
    opacity: 1;
    margin-left: 29%;


}
.linkCont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}
.linkContTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.roundedBtn{
    border-radius: 8px;
    font-size: 20px;
    color: white;
    background-color: blue;
    border: none;
     margin-top: 40px;
    width: 140%;
    height: 70px;

}
.rolesBtn{
    border-radius: 8px;
    font-size: 20px;
    border: none;
    color: white;
    background-color: blue;
    width: 16%;
    height: 77px;

}